@* Generator: Template *@

@using Hipicapp.Model.Participant;
@using Hipicapp.Model.Event;

@functions {
    public Competition competition;
    public IList<Enrollment> inscriptions;
    public IList<Seminary> seminary;
}

<!DOCTYPE html>
<html>
<head>
    <title>Contenido del concurso</title>
</head>
<body>
    <h2>Datos generales del concurso</h2>
    <hr style="margin:0 0 15px; height: 3px; color:#f74b4b; background:#f74b4b;" />
    <table border="0">
        <tbody>
            <tr>
                <td>                    
                    <h3> @competition.Name</h3>
                </td>
            </tr>
            <tr>                
                <td>
                    <p style="margin-bottom:10px;"><strong>Categoría:</strong> @competition.Category.Name</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-bottom:10px;"><strong>Recinto:</strong> @competition.Address</p>
                </td>
            </tr>
            <tr>             
                <td>
                    <p style="margin-bottom:10px;"><strong>Disciplina:</strong> @competition.Specialty.Name</p>
                </td>
            </tr>
            <tr>                
                <td>
                    <p style="margin-bottom:10px;"><strong>Fechas:</strong> @competition.StartDate.Value.ToShortDateString() - @competition.EndDate.Value.ToShortDateString()</p>
                </td>
            </tr>            
        </tbody>
    </table>

    <h2>Participantes</h2>
    <hr style="margin:0 0 15px; height: 3px; color:#f74b4b; background:#f74b4b;" />
    <table border="0">
        <tbody>
            @foreach (Enrollment enrollment in inscriptions)
            {
                <tr>
                    <td>
                        <p style="margin-bottom:10px;">
                            <strong>Jinete:</strong> @enrollment.Horse.Athlete.FullName
                            - <strong>Caballo:</strong>
                            @enrollment.Horse.Name
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Miembros del jurado</h2>
    <hr style="margin:0 0 15px; height: 3px; color:#f74b4b; background:#f74b4b;" />
    <table border="0">
        <tbody>
            @foreach (Seminary judge in seminary)
            {
                <tr>
                    <td><p style="margin-bottom:10px;">@judge.Judge.FullName</p></td>
                </tr>
            }
        </tbody>
    </table>  
</body>
</html>